.statistics {
    width: 335px;
    margin: auto;
  
}

.title {
    font-size: 16p;
    color: #333333;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 25px;
}


.stat_list {

    height: 60px;
    display: block;
    list-style: none;
}

.item {
    width: 70px;
   
}

.label {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-evenly;
}

.percentage {
    font-size: 16px;
    display: flex;
    justify-content: space-evenly;
}